{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/saver_admin"},
          {copy,"./boot_shim.bat","bin/saver_admin.bat"},
          {copy,"./boot","releases/0.0.1/saver_admin.sh"},
          {copy,"./boot.bat","releases/0.0.1/saver_admin.bat"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{saver_admin,"0.0.1"},[{saver_admin,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/home/dc/saver_admin/_build/prod","/home/dc/saver_admin/deps",
           "/usr/local/lib/elixir/bin/../lib/eex/ebin",
           "/usr/local/lib/elixir/bin/../lib/ex_unit/ebin",
           "/usr/local/lib/elixir/bin/../lib/mix/ebin",
           "/usr/local/lib/elixir/bin/../lib/elixir/ebin",
           "/usr/local/lib/elixir/bin/../lib/iex/ebin",
           "/usr/local/lib/elixir/bin/../lib/logger/ebin"]}.

